<% content_for :template_js do %>
<script>
	var commenter = [];
	var commenter_exist= [];
	$('.comment-header-author').each(function() {
	  if($.inArray($(this).text(), commenter_exist) < 0){
	      commenter.push($(this).text());
	      commenter_exist.push($(this).text());
	    }
	});
	$('textarea').atwho({at:"@", 'data':commenter});
</script>
<% end %>
<div class="comment" id="comment_<%= comment.id %>">
<div class="comment-header">
<h4><i class="fa fa-comment"></i><span class="comment-header-author"><%= comment.author_name %></span><a href="/articles/<%= post.id %>/#comment_<%= comment.id %>">说</a> <span class="comment-header-right"><%= distance_of_time_in_words(post.created_at, comment.created_at) %>之前</span></h4>
</div>
<div class="comment-content">
<%=  markdown(comment.body) %>

</div>
<%# 这里还要修改一下 太难看了 回复内容显示要美化 %>


</div>
