<% @comments.each do |comment| %>
<div class="comment" id="comment_<%= comment.id %>">
<div class="comment-header">
<h4><i class="fa fa-comment"></i> <%= comment.author_name %><a href="/articles/<%= post.id %>/#comment_<%= comment.id %>">说</a> <span class="comment-header-right"><%= distance_of_time_in_words(post.created_at, comment.created_at) %>之前</span></h4>
</div>
<div class="comment-content">
<%=  markdown(comment.body) %>

</div>
<%# 这里还要修改一下 太难看了 回复内容显示要美化 %>
</div>
<% end %>