.content {
  margin: 100px 100px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.37);
  border-radius: 0px 0px 4em 4em / 0px 0px 0.25em 0.25em;
  background: white;
  padding: 50px;

  li {
    font-size: 16px;
    display: list-item;

    a {
      padding-left: 20px;
    }
  }

  .archive {
    margin-top: 20px;
  }
}
