// base //
.comments {
  clear: both;
  float: left;
  margin: 50px 0;
  padding: 0 100px;

  .comment {
    border: 1px solid #cacaca;
    border-radius: 5px;
    margin-top: 30px;
    padding: 3px;

    .comment-header {
      background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
      height: 28px;
      padding: 0 10px 0 6px;
    }

    .comment-header-right {
      float: right;
    }

    .comment-content {
      background: #fbfbfb;
      box-sizing: border-box;
      color: #333;
      font-size: 13px;
      overflow: auto;
      padding: 10px;
      width: 100%;
    }
  }
}


.tabnav {
  .tabnav-tabs {
    padding-left: 0;

    li {
      display: inline-block;
    }
  }

  .tabnav-tab {
    border: 1px solid transparent;
    display: inline-block;
    padding: 8px 12px;
  }

  .selected {
    background-color: #fff;
    border-color: #ddd;
    border-radius: 3px 3px 0 0;
    color: #333;
    font-weight: bold;
  }
}

.preview-box {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 5px;
  padding: 10px;
}

.bubble {
  background-color: #fbfbfb;
  border: 1px solid #cacaca;
  border-radius: 10px;
  float: left;
  margin: 80px 0;
  width: 500px;

  .comment-box {
    padding: 20px;
    position: relative;
    
    .name_field {
      background-image: url(image_path('name.svg'));
      background-repeat: no-repeat;
      background-size: 30px 25px;
      height: 30px;
      text-indent: 30px;
    }

    #comment_body {
      height: 220px;
    }
  }
}
