@import 'globals/mixins';

.blog-post {
  background: #fff;
  border: 1px solid rgb(194, 189, 189);
  border-radius: .25em .25em 18em 18em/.25em .25em .5em .5em;
  box-shadow: 7px 7px 30px 0 rgba(50, 50, 50, .75);
  float: left;
  margin: 0 100px;
  padding: 50px;

  .blog-post-title {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .article-body {
    margin-top: 20px;
  }

  .label {
    @extend %label;
  }
}

.comment-number {
  @extend %label;
}


