<% flash.each do |level, message| %>
  <div class="fade in <%= flash_class(level) %>">
    <a class="close" href="#" data-dismiss="alert"></a>
    <h4 class="alert-heading">Notice!</h4>
    <p><%= message %></p>
  </div>
<% end %>
