<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <%= form_tag articles_path, :method => :get, :class => "navbar-form navbar-right", :html => {:role => "navigation"}, :remote => true do %>
        <div class="form-group">
         <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Search" %>
        </div>
        <%= submit_tag "Submit", :class => "btn btn-default search-button" %>
      <% end %>
      <% if logged_in? %>
      <ul class="logged-in nav navbar-nav navbar-right">
        <li class="username">
          <a href="#" class="btn btn-inverse dropdown-toggle"  data-toggle="dropdown">
              <%= current_user.username %>
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li><a tabindex="-1" href="/articles/new"><i class="fa fa-file"></i> new article</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="/">首页</a>
        </li>
        <li>
           <a href="/archive">存档</a>
        </li>
        <li>
          <a href="/about">关于</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
